body {
    background-color: rgb(0, 0, 0);
    position: relative;
  }
  .navcolors {
    background-color:rgb(0, 0, 0);
  }
  .navpicture {
    margin-left: -0.9EM;
    height: 105px;
    width: auto;
    }
  .nav {
    display: inline-block;
    list-style: none;
    background: rgb(0, 0, 0);
    height: 50px;
  }
  .rounded {
    border-radius: 50%;
  }
  .nav-item {
    display: inline-block;
    list-style: none;
    background: rgb(0, 0, 0);
    width: 12vw;
  }
  .nav-item2 {
    display: inline-block;
    list-style: none;
    background: rgb(0, 0, 0);
    width: 4vw;
  }
  .nav-link:hover {
    color:rgb(0, 0, 0);
  }
  .nav_text {
    margin: 2px -8px 2px -8px;
    font-family: Raleway;
    color: rgb(119, 119, 119);
  }
  .nav-link {
    color: #fff;
    text-decoration: none;
  }
  .header {
    margin: 2px -2px 10px -2px;
    font-size: 145%;
    font-family: Raleway;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  .h1 {
    font-family: Raleway;
    font-size: 120%;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  .header1 {
    font-family: Raleway;
    font-size: 120%;
    text-align: center; 
    color: rgb(255, 255, 255);
  }
  .imgc {
    position: relative;
    margin: auto;
    display: block;
    width: 35%;
  }
  .header2 {
    font-family: Raleway;
    font-weight: bold;
    text-align: center;
    font-size: 200%;
    color: rgb(255, 255, 255);
  }
  .main_text {
    margin: 2px -8px 2px -8px;
    font-family: Raleway;
    color: rgb(119, 119, 119);
    text-align: left;
  }
  .wit {
    margin: -2px 0px -2px 2px;
    font-family: Raleway;
    color: rgb(206, 201, 201);
    text-align: center;
    font-size: 120%;
  }
  .indent {
    margin-left: 20px;
  }
  .small_text {
    font-family: Raleway;
    font-size: 40%;
    color: rgb(119, 119, 119);
  }
  .anchor {
    display: block;
      position: absolute;
      width: 0;
      height: 0;
      z-index: -1;
      top: -110px;
      left: 0;
      visibility: hidden;
  }
  .anchor1 {
    display:block;
      position: absolute;
      visibility: hidden;
  }
  a {
    color: #000;
    font-size: 100%;
  }
  .sd7 {
    font-size: 70%;
  }
  .container1 {
    margin: 40px 15px 0px 20px;
  }
  .container3 {
    margin: 40px 15px 0px 20px;
    margin-bottom: -100px;
  }
  .container2 {
    padding-right: 60px;
    padding-left: 60px;
  }
  .padding {
    padding: 5px 5px 5px 5px;
  }
  .padding1 {
    margin: 30px 40px 30px 40px;
  }
  .marge {
    margin-right: 7px;
  }
  .scrollable {
    background: light;
    position: absolute;
    overflow: scroll;
    padding-bottom: 00px;
    padding-right: 140px;
  }